{% extends 'theme/index.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block banner %}
    <br>
    <br>
    <br>
    <br>
    <style>
        .card-img-bottom {
            color: #fff;
            height: 4rem;

            background: url("https://use.fontawesome.com/releases/v5.0.10/svgs/solid/anchor.svg") no-repeat;

        }

        .card-img-left {
            color: #fff;
            height: 4rem;

            background: url("https://use.fontawesome.com/releases/v5.0.10/svgs/solid/eye.svg") no-repeat;

        }

        .card-img-right {
            color: #fff;
            height: 4rem;

            background: url("https://use.fontawesome.com/releases/v5.0.10/svgs/solid/tasks.svg") no-repeat;

        }

        .card-img-top {
            color: #fff;
            height: 4rem;

            background: url("https://use.fontawesome.com/releases/v5.0.10/svgs/solid/thumbs-up.svg") no-repeat;

        }


    </style>

    <br>
    <br>
    <div class="col-lg-8" style="margin-left: 15%">
        <section>
            <div class="container">
                <div class="card">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="card-block">
                                <p class="card-title">Total</p>
                                <h4 class="card-text">{{ problems.count }}</h4>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="card-img-bottom">
                                <i class="fas fa-anchor"></i>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="card-block">
                                <p class="card-title">Seen</p>
                                <h4 class="card-text">{{ seen_count }}</h4>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="card-img-left">
                                <i class="fas fa-anchor"></i>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="card-block">
                                <p class="card-title">Progress</p>
                                <h4 class="card-text">{{ progressing_count }}</h4>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="card-img-right">
                                <i class="fas fa-anchor"></i>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="card-block">
                                <p class="card-title">Completed</p>
                                <h4 class="card-text">{{ completed_count }}</h4>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="card-img-top">
                                <i class="fas fa-anchor"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="flex-banner">
        <ul class="slides">
            <div class="col-lg-8" style="margin-left: 15%">
                <br><br>

                <table id="mydataTable" class="display table table-striped" style="widows:100%;">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Category</th>
                        <th>Title</th>
                        <th>District</th>
                        <th>State</th>
                        <th>Age</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in problems %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ i.get_category_display }}</td>
                            <td>{{ i.title }}</td>
                            <td>{{ i.district.name }}</td>
                            <td>{{ i.state.name }}</td>
                            <td>{{ i.get_age_display }}</td>
                            {% if i.image %}
                                <td><img src="{{ i.image.url }}" style="width:100%;height: 25%;"></td>
                            {% else %}
                                <td><img
                                        src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                                        style="width:100%;height: 25%;"></td>
                            {% endif %}
                            <td>{{ i.description }}</td>
                            <td>{{ i.get_status_display }}</td>
                            <td><a class="btn btn-primary" href="{% url 'change_status' i.id 1 %}">Seen</a> &nbsp;&nbsp;&nbsp;
                                <a href="{% url 'change_status' i.id 2 %}" class="btn btn-primary">Progress</a>
                                &nbsp;&nbsp;&nbsp; <a href="{% url 'change_status' i.id 3 %}" class="btn btn-primary">Completed</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </ul>
    </div>
    <script>

    </script>
    <script>
        $(document).ready(function () {
            $('#mydataTable').DataTable();
        });
    </script>
{% endblock %}
