{% extends 'theme/index.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block banner %}
<br>
<br>
<div id="banner">
    <div class="flex-banner">
        <ul class="slides">
            <div class="container">

                <form method="post" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="key">Key Value:</label>
                        <input type="text" class="form-control" id="key" placeholder="Enter the generated Key" name="key">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="container">
                {% if problem %}
                <table id="mydataTable" class="display table table-striped" style="widows:100%;">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Category</th>
                        <th>Title</th>
                        <th>District</th>
                        <th>State</th>
                        <th>Age</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>1</td>
                            <td>{{ problem.get_category_display }}</td>
                            <td>{{ problem.title }}</td>
                            <td>{{ problem.district.name }}</td>
                            <td>{{ problem.state.name }}</td>
                            <td>{{ problem.get_age_display }}</td>
                            {% if problem.image %}
                                <td><img src="{{ problem.image.url }}" style="width:100%;height: 25%;"></td>
                            {% else %}
                                <td><img
                                        src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                                        style="width:100%;height: 25%;"></td>
                            {% endif %}
                            <td>{{ problem.description }}</td>
                            <td>{{ problem.get_status_display }}</td>
                        </tr>

                    </tbody>
                </table>
                {% endif %}
            </div>
        </ul>
    </div>
</div>
{% endblock %}
