{% extends 'theme/index.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block banner %}
<br>
<br>
<!--<div id="banner">-->
    <div class="flex-banner">

            <div class="container">
                <br>
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>State/UT Rules framed under the Prohibition of Child Marriage Act, 2006
                            </td>
                        </tr>
                        <tr>
                            <td>Amendment Act 1956 Proposed in Prevention of Unethical Trade
                            </td>
                        </tr>
                        <tr>
                            <td>THE JUVENILE JUSTICE (CARE AND PROTECTION OF CHILDREN) ACT, 2015
                            </td>
                        </tr>
                        <tr>
                            <td>Amendment Proposed in Immoral Traffic Prevention Act 1956
                            </td>
                        </tr>
                        <tr>
                            <td>Concluding Observations of the Committee on the Rights of the Child
                            </td>
                        </tr>
                        <tr>
                            <td>National Guidelines on Infant and Young Child Feeding</td>
                        </tr>
                        <tr>
                            <td>Notification on Infant Milk Substitutes</td>
                        </tr>
                        <tr>
                            <td>The Infant Milk Substitutes, Feeding Bottles and Infant Foods Regulation of
                                Production,
                                Supply and Distribution Amendment Act, 2003
                            </td>
                        </tr>
                        <tr>
                            <td>The infant Milk Substitutes, Feeding Bottles and infant Foods regulation of
                                Production,
                                Supply and Distribution Act, 1992
                            </td>
                        </tr>
                        <tr>
                            <td>Notification issued by the MWCD regarding enforcement of IMS Amendment Act</td>
                        </tr>
                        <tr>
                            <td>The infant Milk Substitute Act, 2003</td>
                        </tr>
                        <tr>
                            <td>The Prohibition of Child Marriage Act, 2006</td>
                        </tr>
                        <tr>
                            <td>The Child Marriage Restraint Act,1929</td>
                        </tr>
                        <tr>
                            <td>The Commissions For Protection of Child Rights Amendment Act, 2006</td>
                        </tr>
                        <tr>
                            <td>National Commission for protection of Child Rights Rules,2006 in English</td>
                        </tr>
                        <tr>
                            <td>The Commissions for Protection of Child Rights Act, 2005</td>
                        </tr>
                        <tr>
                            <td>The Juvenile Justice Care and Protection of Children Rules 2007 in English</td>
                        </tr>
                        <tr>
                            <td>The Juvenile Justice Care and Protection of Children Act 2000</td>
                        </tr>
                        <tr>
                            <td>The Juvenile Justice Care and Protection of Children Amendment Act 2006</td>
                        </tr>
                        <tr>
                            <td>Implementation of the JJ Act. DO NO.1-22004-CW II</td>
                        </tr>
                        <tr>
                            <td>The Juvenile Justice Care and Protection of Children, Act 2011 and Juvenile Justice
                                Care
                                and Protection of Children, Amendment Rules, 2011, notified on 9th Sep 2011 and 26th
                                Dec
                                2011
                            </td>
                        </tr>
                        <tr>
                            <td>Protection of Children from Sexual Offences Bill, 2011
                            </td>
                        </tr>
                        <tr>
                            <td>Amendment to the Protection of Children from Sexual Offences Act, 2012
                            </td>
                        </tr>
                        <tr>
                            <td>The Gazette of India dated 09-11-2012 regarding coming into force of the Protection
                                of
                                the Children from Sexual Offences Act, 2012
                            </td>
                        </tr>
                        <tr>
                            <td>The Protection of Children from Sexual Offences Rules, 2012
                            </td>
                        </tr>
                        <tr>
                            <td>The Protection of Children from Sexual Offences Act, 2012
                            </td>
                        </tr>
                        <tr>
                            <td>Model Guidelines Under Protection of Children From Sexual Offences POCSO ACT,2012
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

    <!--</div>-->
</div>
{% endblock %}
