{% extends 'theme/index.html' %}
{% block banner %}

<!-- Page Wrap ===========================================-->
<div id="wrap">


    <!--======= CONTENT =========-->
    <div class="content">

        <!--======= SHOP =========-->
        <section class="shop shop-pages shop-detail">
            <div class="container">

                <!--======= PRODUCTS ROW =========-->
                <div class="row">

                    <!--======= SHOP LEFT BAR =========-->
                    <div class="col-md-3">
                        <div class="side-bar">

                            <!--======= SEARCH =========-->
                            <div class="search">
                                <input type="search" placeholder="Search Here">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                            <div class="shop-side-bar">
                                <h5>CATEGORIES</h5>
                                <ul class="cate">
                                    <li><a href="#.">BLAZERS (12)</a></li>
                                    <li><a href="#.">PANTS & tROUSERS (54)</a></li>
                                    <li><a href="#.">shirt (105)</a></li>
                                    <li><a href="#.">SUITS & tAILORING (48)</a></li>
                                    <li><a href="#.">T-SHIRTS (120)</a></li>
                                    <li><a href="#.">UNDERWEAR (98)</a></li>
                                    <li><a href="#.">jACKETS & COATS (36)</a></li>
                                </ul>

                                <!--======= PRICE FILTER =========-->

                                <div class="cost-price-content">
                                    <h5>PRICE FILTER</h5>
                                    <div id="price-range" class="price-range"></div>
                                    <span id="price-min" class="price-min">20</span> <span id="price-max"
                                                                                           class="price-max">80</span>
                                    <a href="#." class="btn">FILTER</a></div>

                                <!--======= TOP RATED =========-->
                                <h5>TOP RATED</h5>
                                <ul class="top-rated">

                                    <!--======= PRODUCT 1 =========-->
                                    <li>
                                        <div class="img">
                                            <section><img class="img-responsive" src="images/shop-img-1.jpg" alt="">
                                            </section>
                                        </div>
                                        <a class="font-lora" href="#.">Casual men wearing Shirt</a>
                                        <p>$ 90.00 <span class="strike">$100.00</span></p>
                                    </li>

                                    <!--======= PRODUCT 2 =========-->
                                    <li>
                                        <div class="img">
                                            <section><img class="img-responsive" src="images/shop-img-4.jpg" alt="">
                                            </section>
                                        </div>
                                        <a class="font-lora" href="#.">Casual men wearing Shirt</a>
                                        <p>$ 90.00 <span class="strike">$100.00</span></p>
                                    </li>

                                    <!--======= PRODUCT 1 =========-->
                                    <li>
                                        <div class="img">
                                            <section><img class="img-responsive" src="images/shop-img-3.jpg" alt="">
                                            </section>
                                        </div>
                                        <a class="font-lora" href="#.">Casual men wearing Shirt</a>
                                        <p>$ 90.00 <span class="strike">$100.00</span></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--======= SHOP IMAGES =========-->
                    <div class="col-md-9">
                        <ul class="row item-info">

                            <!--======= PRODUCTS 1 =========-->

                            <li class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <section><a href="#."> <img class="img-responsive" src="images/shop-img-2.jpg"
                                                                    alt=""> </a></section>
                                    </div>
                                    <div class="col-sm-7">
                                        <!--======= PRODUCTS DETAILS =========-->
                                        <div class="products-details">
                                            <h3>Casual men wearing Shirt</h3>
                                            <span class="price">$ 95.66 <span class="strike">$100.00</span></span>
                                            <p>Pellentesque habitant morbi tristique senectus et netus et males suada
                                                fames ac turpis egestas. Vestibulum tortor quam, feugialth vitae,
                                                ultricies eget, tempor sit amet, ante. Donec eu libero sitkar amet quam
                                                egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
                                                leo.</p>

                                            <!--======= STARS =========-->
                                            <div class="stars"><i class="rated fa fa-star-o"></i> <i
                                                    class="rated fa fa-star-o"></i> <i class="rated fa fa-star-o"></i>
                                                <i class="rated fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                                                <h5>Availability: <span>In stock </span></h5>
                                            </div>

                                            <!--======= QUANTTITY =========-->
                                            <div class="quienty">
                                                <label> Quantity
                                                    <input type="number" placeholder="1">
                                                </label>
                                            </div>
                                            <!--======= ADD TO CART =========-->
                                            <a class="add-cart font-lora" href="#."> ADD TO CART </a> <a
                                                class="add-cart font-lora" href="#."> <i class="fa fa-heart-o"></i> </a>
                                            <a class="add-cart font-lora" href="#."> <i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>

                                    <!--======= TAB SECTION =========-->

                                    <div class="col-sm-12">
                                        <div role="tabpanel">

                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#describe"
                                                                                          aria-controls="describe"
                                                                                          role="tab" data-toggle="tab">Description</a>
                                                </li>
                                                <li role="presentation"><a href="#review" aria-controls="review"
                                                                           role="tab" data-toggle="tab">Review</a></li>
                                            </ul>

                                            <!-- Tab panes -->
                                            <div class="tab-content">

                                                <!--======= DESCRIBTION =========-->
                                                <div role="tabpanel" class="tab-pane active" id="describe">
                                                    <h5>Product Details</h5>
                                                    <p> Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                                                        et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                                                        enimsal ipsam voluptatem quia voluptas sit aspernatur aut odit
                                                        aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                                        voluptateras sequi nesciunt. Neque porro quisquam est, qui
                                                        dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                                                        sed quia non numquae
                                                        eius modi tempora incidunt ut labore et dolore magnam aliquam
                                                        quaerat voluptatem.
                                                        Ut enim ad minima veniam, quis nostrum exercitationem ullam
                                                        corporis suscipit laboriosam. </p>
                                                </div>

                                                <!--======= REVIEW =========-->
                                                <div role="tabpanel" class="tab-pane" id="review">
                                                    <h5>Review</h5>
                                                    <p> Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                                                        et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                                                        enimsal ipsam voluptatem quia voluptas sit aspernatur aut odit
                                                        aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                                        voluptateras sequi nesciunt. adipisci velit, sed quia non
                                                        numquae
                                                        eius modi tempora incidunt ut labore et dolore magnam aliquam
                                                        quaerat voluptatem.
                                                        Ut enim ad minima veniam, quis nostrum exercitationem ullam
                                                        corporis suscipit laboriosam. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <!--======= RELATED PRODUCTS =========-->
                        <h3>Related Products</h3>
                        <ul class="row">

                            <!--======= PRODUCTS 1 =========-->
                            <li class="col-sm-4">
                                <section><a href="#."> <img class="img-responsive" src="images/shop-img-1.jpg" alt="">
                                </a></section>
                                <!--======= PRODUCTS DETAILS =========-->
                                <div class="products-details"><a href="#." class="font-lora">Casual men wearing
                                    Shirt</a> <span class="price">$ 95.66</span>

                                    <!--======= STARS =========-->
                                    <div class="stars"><i class="rated fa fa-star-o"></i> <i
                                            class="rated fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                            class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></div>

                                    <!--======= ADD TO CART =========-->
                                    <a class="add-cart font-lora" href="#."> ADD TO CART </a></div>
                            </li>

                            <!--======= PRODUCTS 2 =========-->
                            <li class="col-sm-4">
                                <section><a href="#."> <img class="img-responsive" src="images/shop-img-2.jpg" alt="">
                                </a></section>
                                <!--======= PRODUCTS DETAILS =========-->
                                <div class="products-details"><a href="#." class="font-lora">Casual men wearing
                                    Shirt</a> <span class="price">$ 95.66</span>

                                    <!--======= STARS =========-->
                                    <div class="stars"><i class="rated fa fa-star-o"></i> <i
                                            class="rated fa fa-star-o"></i> <i class="rated fa fa-star-o"></i> <i
                                            class="rated fa fa-star-o"></i> <i class="fa fa-star-o"></i></div>

                                    <!--======= ADD TO CART =========-->
                                    <a class="add-cart font-lora" href="#."> ADD TO CART </a></div>
                            </li>

                            <!--======= PRODUCTS 3 =========-->
                            <li class="col-sm-4">
                                <section><a href="#."> <img class="img-responsive" src="images/shop-img-3.jpg" alt="">
                                </a></section>
                                <!--======= PRODUCTS DETAILS =========-->
                                <div class="products-details"><a href="#." class="font-lora">Casual men wearing
                                    Shirt</a> <span class="price">$ 95.66</span>

                                    <!--======= STARS =========-->
                                    <div class="stars"><i class="rated fa fa-star-o"></i> <i
                                            class="rated fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                            class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></div>

                                    <!--======= ADD TO CART =========-->
                                    <a class="add-cart font-lora" href="#."> ADD TO CART </a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--======= CONTENT END =========-->

    <!--======= FOOTER =========-->
    <footer>
        <div class="container">

            <!--======= FOOTER ROW =========-->
            <div class="row">
                <div class="col-md-6">

                    <!--======= FOOTER 1 =========-->
                    <ul class="row">

                        <!--======= KEEP IN TOUCH =========-->
                        <li class="col-sm-6 shadow">
                            <ul class="social_icons">
                                <li class="facebook"><a href="#."><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="#."><i class="fa fa-twitter"></i></a></li>
                                <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i></a></li>
                                <li class="instagram"><a href="#."><i class="fa fa-instagram"></i></a></li>
                                <li class="soundcloud"><a href="#."><i class="fa fa-rss"></i></a></li>
                            </ul>

                            <!--======= ADDRESS =========-->
                            <h6>keep in touch</h6>
                            <p>Address : 44 New Design Street,
                                Melbourne 005 </p>
                            <p>Phone : (01) 800 433 633</p>
                            <p>Email : info@Example.com</p>
                            <div class="subcribe">
                                <form>
                                    <input type="text" placeholder="Email Address" required>
                                    <button type="submit"><i class="fa fa-sign-in"></i></button>
                                </form>
                            </div>
                        </li>

                        <!--======= USEFULL LINKS =========-->
                        <li class="col-sm-6 padding-l-60">
                            <h6>useful links</h6>
                            <ul class="links">
                                <li><a href="#.">About Us</a></li>
                                <li><a href="#.">Meet The Team</a></li>
                                <li><a href="#.">Volunteers</a></li>
                                <li><a href="#.">Service Provided</a></li>
                                <li><a href="#.">Latest News</a></li>
                                <li><a href="#.">Contact Us</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <!--======= FOOTER ROW 2 =========-->
                <div class="col-md-6">
                    <ul class="row">

                        <!--======= LATEST TWEET =========-->
                        <li class="col-sm-6">
                            <div class="tweet">
                                <h6>Latest Tweets</h6>
                                <p>Eaque ipsa quae ab illo inventore veris
                                    quasi architecto beatae vitae dicta exp
                                    enim ipsam voluptatem.</p>
                                <a href="#.">http://socialwelfare/themeforest</a> <span><i
                                    class="fa fa-twitter-square"></i> 3.00 PM, 24 May 2015</span></div>
                        </li>

                        <!--======= DONATION =========-->
                        <li class="col-sm-6 padding-l-60">
                            <h6>Donations</h6>
                            <ul class="links">
                                <li><a href="#.">How to Donate</a></li>
                                <li><a href="#.">Donation List</a></li>
                                <li><a href="#.">Recent Causes</a></li>
                                <li><a href="#.">FAQ</a></li>
                                <li><a href="#." class="btn">Donate now!</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--======= FOOTER ROW 2 =========-->
            </div>
        </div>

        <!--======= RIGHTS =========-->
        <div class="rights">
            <p class="text-uppercase">Copyright © 2015 social welfare. All Rights Reserved.</p>
        </div>
    </footer>

    <!--======= MAKE DONATION POPUP START =========-->
    <div id="make-donation" class="donation-pop zoom-anim-dialog mfp-hide">
        <h6>Make a Donation</h6>
        <!--======= DONATE LIGHT BOX =========-->
        <div class="pop-inner">
            <form>
                <label> Project You Want To donate
                    <input type="text" name="project-name">
                </label>
                <label>Your Donation</label>
                <ul class="dona-amount">
                    <li><a href="#.">$10</a></li>
                    <li class="active"><a href="#.">$25</a></li>
                    <li><a href="#.">$50</a></li>
                    <li><a href="#.">$75</a></li>
                    <li><a href="#.">$100</a></li>
                    <li><a href="#.">Others</a></li>
                </ul>

                <!--======= INFORMATION =========-->
                <ul class="row per-info">
                    <li class="col-lg-12">
                        <label>Your Information</label>
                    </li>
                    <li class="col-sm-6">
                        <input type="text" name="first name" placeholder="First Name">
                    </li>
                    <li class="col-sm-6">
                        <input type="text" name="last name" placeholder="Last Name">
                    </li>
                    <li class="col-sm-6">
                        <input type="email" name="Email" placeholder="Email">
                    </li>
                    <li class="col-sm-6">
                        <input type="text" name="phone" placeholder="Phone">
                    </li>
                </ul>

                <!--======= CRADIT CARD INFO =========-->
                <ul class="row per-info">
                    <li class="col-lg-12">
                        <label>Credit cArd Information</label>
                    </li>
                    <li class="col-sm-6">
                        <input type="text" name="first name" placeholder="Card Holder Name">
                        <label>As Appers on card</label>
                    </li>
                    <li class="col-sm-6">
                        <input type="text" name="last name" placeholder="Credit card number">
                        <label>VISA MC AMEX DS</label>
                    </li>
                    <li class="col-sm-6">
                        <input type="email" name="Email" placeholder="Card cvv">
                        <label>what is this?</label>
                    </li>
                    <li class="col-sm-3">
                        <input type="text" name="phone" placeholder="Valid From">
                        <label>MM/YYYY</label>
                    </li>
                    <li class="col-sm-3">
                        <input type="text" name="card" placeholder="Valid thru">
                    </li>
                    <li class="col-sm-12">
                        <button type="submit" class="btn">Send donation</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <!--======= MAKE DONATION POPUP END =========-->

    <!--======= BECOME A volunteer =========-->
    <div id="volunteer" class="donation-pop zoom-anim-dialog mfp-hide">
        <h6>Become A volunteer</h6>
        <!--======= DONATE LIGHT BOX =========-->
        <div class="pop-inner">
            <form>

                <!--======= CRADIT CARD INFO =========-->
                <ul class="row per-info">
                    <li class="col-lg-12">
                        <label>give Your Information</label>
                    </li>
                    <li class="col-sm-6">
                        <input type="text" name="first name" placeholder="First Name">
                    </li>
                    <li class="col-sm-6">
                        <input type="text" name="last name" placeholder="LAst Name">
                    </li>
                    <li class="col-sm-6">
                        <input type="email" name="Email" placeholder="Email Address">
                    </li>
                    <li class="col-sm-6">
                        <input type="text" name="phone" placeholder="phone">
                    </li>
                    <li class="col-sm-6">
                        <input type="text" name="phone" placeholder="Zip code">
                    </li>
                    <li class="col-sm-12">
                        <textarea placeholder="Say Something..."></textarea>
                    </li>
                    <li class="col-sm-12">
                        <button type="submit" class="btn">SUBMIT DETAILS</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <!--======= BECOME A volunteer END =========-->
</div>
{% endblock %}