{% extends 'theme/index.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block banner %}
    <style>
        .link {
            border: 1px solid red;
            outline: 5px dotted green;
        }

    </style>
    <br>
    <br>
    <div id="banner">
        <div class="flex-banner">
            <ul class="slides">
                {% crispy forms %}
            </ul>
        </div>


        {% if creation_key %}
            <div class="col-md-6" style="margin-left: 15%">
                <div class="col-lg-12">
                    <div class="link" style="margin-top: 5%;margin-bottom: 5%;">

                        <h3>http://13.59.251.253:8000/problems/enroll/?akey={{ creation_key }}</h3>
                    </div>
                </div>
            <p id="creation_key" style="display: none;">{{ creation_key }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
