{% extends 'theme/index.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block banner %}
<br>
<br>
<!--<div id="banner">-->
    <div class="flex-banner">
        <ul class="slides">
            <div class="container">
                <br>
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>GUIDELINES FOR OPERATIONALIZING MAHILA POLICE VOLUNTEERS (MPVs) INITIATIVE
                            </td>
                        </tr>
                        <tr>
                            <td>Badge Design for Gender Champions
                            </td>
                        </tr>
                        <tr>
                            <td>Swachh Bharat Kosh Operational Guidelines, 2014 and Submission of Proposals-reg.
                            </td>
                        </tr>
                        <tr>
                            <td>Adoption Guidelines 2015
                            </td>
                        </tr>
                        <tr>
                            <td>Swadhar Greh Guidelines
                            </td>
                        </tr>
                        <tr>
                            <td>Guidelines for Gender Champions T & C for Badge Designing Competition	</td>
                        </tr>
                        <tr>
                            <td>Revised Guidelines for Gender Champions	</td>
                        </tr>
                        <tr>
                            <td>Revised NMEW Scheme Guidelines - VCFS Guidelines	</td>
                        </tr>
                        <tr>
                            <td>Revised NMEW Scheme Guidelines - SRCW Guidelines REVISED	</td>
                        </tr>
                        <tr>
                            <td>Revised NMEW Scheme Guidelines - PSK guidelines 2015 - Partial	</td>
                        </tr>
                        <tr>
                            <td>Dowry Prohibition Act, 1961</td>
                        </tr>
                        <tr>
                            <td>Guidelines for construction of Anganwadi Centers under MGNREGS in convergence with ICDS Scheme	</td>
                        </tr>
                        <tr>
                            <td>National Guidelines on Infant and Young Child Feeding Edition : 2006	</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ul>
    </div>
<!--</div>-->
{% endblock %}
