{% extends 'theme/index.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block banner %}
<br>
<br>
<!--<div id="banner">-->
    <div class="flex-banner">
        <ul class="slides">
            <div class="container">
                <br>
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>The Immoral Traffic Prevention Amendment Bill, 2006
                            </td>
                        </tr>
                        <tr>
                            <td>Amendment Proposed in Immoral Traffic Prevention Act 1956
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </ul>
    </div>
<!--</div>-->
{% endblock %}
