{% extends 'theme/index.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block banner %}
    <br>
    <br>
    <div id="banner">
        <div class="flex-banner">
            <ul class="slides">
                {% crispy forms %}
            </ul>
        </div>
        {% if hash_key_value %}
            <p id="has_key_value" style="display: none">{{ hash_key_value }}</p>
        {% endif %}
    </div>
{% endblock %}
