{% extends 'theme/index.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block banner %}
<br>
<br>
<div id="banner">
    <div class="flex-banner">
        <ul class="slides">
            {% crispy forms %}
        </ul>
    </div>
</div>
{% endblock %}
