{% extends 'theme/index.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block banner %}
<br>
<br>
<!--<div id="banner">-->
    <div class="flex-banner">
        <ul class="slides">
            <div class="container">
                <br>
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Recommended panel of Institute/Organizations for imparting training programmes/workshop
                                under Sexual Harassment of Women at Workplace (Prevention, Prohibtion, and Redressal)
                                Act,
                                2013
                            </td>
                        </tr>
                        <tr>
                            <td>Training Module for Two Day Workshop on Sexual Harassment of Women at Workplace
                                (Prevention,
                                Prohibition And Redressal) Act, 2013
                            </td>
                        </tr>
                        <tr>
                            <td>Recommended Panel of Institutes or Organizations under sexual harassment of Women at
                                workplace Prevention,Prohibition, and Redressal Act 2013
                            </td>
                        </tr>
                        <tr>
                            <td>The sexual harassment of women at workplace Prevention,Prohibition, and Redressal Act
                                2013
                            </td>
                        </tr>
                        <tr>
                            <td>The Sexual Harassment of Women at Workplace, (Prevention,Prohibition, and Redressal Act
                                2013, Rules
                            </td>
                        </tr>
                        <tr>
                            <td>Handbook on Sexual Harassment of Women at Workplace</td>
                        </tr>
                        <tr>
                            <td>National Commission for Women Act</td>
                        </tr>
                        <tr>
                            <td>The Commission of Sati Prevention Act and rules</td>
                        </tr>
                        <tr>
                            <td>Indecent Representation of Women</td>
                        </tr>
                        <tr>
                            <td>Dowry Prohibition Rules</td>
                        </tr>
                        <tr>
                            <td>Dowry Prohibition Act, 1961</td>
                        </tr>
                        <tr>
                            <td>Protection of Women from Domestic Violence Act, 2005</td>
                        </tr>
                        <tr>
                            <td>The Protection of Women from Domestic Violence Act, 2005 Rules</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ul>
    </div>
<!--</div>-->
{% endblock %}
