{% extends 'theme/index.html' %}
{% load staticfiles %}
{% block banner %}

<div id="banner">
    <div class="flex-banner">
        <ul class="slides">

            <!--======= BANNER SLIDE 1 =========-->
            {% for i in images %}

            <li><img src="{{ i.image.url }}" alt="">

                <!--======= BANNER TEXT =========-->
                <div class="bnr-txt">
                    <h1>Give a <span>helping hand </span> to those who need it!</h1>
                    <hr>
                    <p class="font-lora">Volunteers do not Necessarily have the Time, They Just have the Heart.</p>

                    <!--======= BANNER BTN =========-->
                    <a href="#." class="btn">LEARN MORE <i class="fa fa-caret-right"></i></a></div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<!--======= CONTENT =========-->

<div class="content">
    <br><br><br><br><br>
    <!--======= UP COMING EVENT =========-->
    <div class="container">
        <ul class="row white-bg enevtii">

            <!--======= UP COMING EVENT =========-->
            <li class="col-md-6 no-padding-l">
                <div class="event-in">
                    <div class="up-com-event">
                        <p class="font-lora">upcomming events</p>

                        <!--======= EVENT DETAILS =========-->
                        <div class="row">
                            <div class="col-xs-5"><img class="img-responsive"
                                                       src="{% static 'theme/images/event-img.jpg'%}" alt=""></div>
                            <div class="col-xs-7">
                                <p class="font-lora">Education for every children </p>
                                <span><i class="fa fa-clock-o"></i> May 14, 2015    3.00 pm</span> <span><i
                                    class="fa fa-map-marker"></i> Conference hall, 12 marc street, africa.</span>

                                <!--======= COUNT DOWN =========-->
                                <ul class="countdown">

                                    <!--======= Days =========-->
                                    <li><span class="days">00</span>
                                        <p>days</p>
                                    </li>

                                    <!--======= Hours =========-->
                                    <li>
                                        <div><span class="hours">00</span>
                                            <p>hours</p>
                                        </div>
                                    </li>

                                    <!--======= Mintes =========-->
                                    <li><span class="minutes">00</span>
                                        <p>minutes</p>
                                    </li>

                                    <!--======= Seconds =========-->
                                    <li><span class="seconds">00</span>
                                        <p>seconds</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!--======= DONATE AMOUNT =========-->
            <li class="col-md-2 amount">
                <h1 class="font-lora">$25</h1>
                <p>Could pay for a day out
                    for 4 young carers in need of
                    a break.</p>
            </li>

            <!--======= DONATE SLIDER =========-->
            <li class="col-md-4">
                <div class="donate-price">
                    <ul class="tabii-price">
                        <li class="active"><a href="#.">monthly donation</a> |</li>
                        <li><a href="#.">single donation</a></li>
                    </ul>
                    <div id="year-slider" class="no-ui-slider">
                        <div class="slider"></div>
                        <ul class="slider-labels eleven-columns">
                            <li>$0</li>
                            <li>$10</li>
                            <li class="active">$25</li>
                            <li>$50</li>
                            <li>$75</li>
                            <li>$100</li>
                        </ul>
                    </div>
                    <a href="#." class="btn">donate now!</a></div>
            </li>
        </ul>
    </div>

    <!--======= RECENT CASES =========-->
    <section class="cases">
        <div class="container">

            <!--======= TITTLE =========-->
            <div class="tittle">
                <h2>Recent <span>Causes </span></h2>
                <p>Our <span class="underline">charity helps</span> those people who have no hope</p>
            </div>

            <!--======= CASES ROW =========-->
            <ul class="row">

                <!--======= CASE 1 =========-->
                <li class="col-sm-4">
                    <section><img class="img-responsive" src="{% static 'theme/images/case-img-1.jpg'%}" alt="">

                        <!--======= CASE PROGRESS BAR =========-->
                        <div class="progress-bars">
                            <div class="progress" data-percent="63%">
                                <div class="progress-bar progress-bar-striped"><span
                                        class="progress-bar-tooltip">63%</span>
                                </div>
                            </div>
                        </div>

                        <!--======= DONATION DETAILS =========-->
                        <div class="donate-detail">

                            <!--======= DONATION =========-->
                            <h6>Donation: <span>53,458</span>/$87,609 </h6>

                            <!--======= LINK =========-->
                            <a href="#." class="font-lora head">Donate For Child Education</a>
                            <hr>
                            <p>Totam rem aperiam, eaque ipsa quae ab illosa
                                inventore veritatis et quasi.</p>
                        </div>

                        <!--======= DONATE BTN  =========-->
                        <a href="#." class="btn">Donate Now</a></section>
                </li>

                <!--======= CASE 1 =========-->
                <li class="col-sm-4">
                    <section><img class="img-responsive" src="{% static 'theme/images/case-img-2.jpg'%}" alt="">

                        <!--======= CASE PROGRESS BAR =========-->
                        <div class="progress-bars">
                            <div class="progress" data-percent="42%">
                                <div class="progress-bar progress-bar-striped"><span
                                        class="progress-bar-tooltip">42%</span>
                                </div>
                            </div>
                        </div>

                        <!--======= DONATION DETAILS =========-->
                        <div class="donate-detail">

                            <!--======= DONATION =========-->
                            <h6>Donation: <span>53,458</span>/$87,609 </h6>

                            <!--======= LINK =========-->
                            <a href="#." class="font-lora head">Donate For Drinking Water</a>
                            <hr>
                            <p>Totam rem aperiam, eaque ipsa quae ab illosa
                                inventore veritatis et quasi.</p>
                        </div>

                        <!--======= DONATE BTN  =========-->
                        <a href="#." class="btn">Donate Now</a></section>
                </li>

                <!--======= CASE 1 =========-->
                <li class="col-sm-4">
                    <section><img class="img-responsive" src="{% static 'theme/images/case-img-3.jpg'%}" alt="">

                        <!--======= CASE PROGRESS BAR =========-->
                        <div class="progress-bars">
                            <div class="progress" data-percent="70%">
                                <div class="progress-bar progress-bar-striped"><span
                                        class="progress-bar-tooltip">70%</span>
                                </div>
                            </div>
                        </div>

                        <!--======= DONATION DETAILS =========-->
                        <div class="donate-detail">

                            <!--======= DONATION =========-->
                            <h6>Donation: <span>53,458</span>/$87,609 </h6>

                            <!--======= LINK =========-->
                            <a href="#." class="font-lora head">Donate For Homeless People</a>
                            <hr>
                            <p>Totam rem aperiam, eaque ipsa quae ab illosa
                                inventore veritatis et quasi.</p>
                        </div>

                        <!--======= DONATE BTN  =========-->
                        <a href="#." class="btn">Donate Now</a></section>
                </li>
            </ul>
        </div>
    </section>

    <!--======= HOW CAN YOU HELP =========-->
    <section class="how-can-help">
        <div class="container">
            <ul class="row">

                <!--======= HOW CAN YOU HELP =========-->
                <li class="col-sm-4"><span class="big-text font-lora">How <small>Can You Help?</small></span>
                    <hr>
                    <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea cmodo
                        conse quat. Duis aute irure dolor in reprehenderit inas voluptate velit esse cillum...</p>
                    <a href="#." class="btn">Learn More <i class="fa fa-arrow-circle-o-right"></i></a></li>

                <!--======= FEATURED =========-->
                <li class="col-sm-4">
                    <ul class="help-fea">
                        <li class="font-lora"><img src="{% static 'theme/images/help-icon-1.png'%}" alt=""> Media
                        </li>
                        <li class="font-lora"><img src="{% static 'theme/images/help-icon-2.png'%}" alt=""> Become
                            Volunteer
                        </li>
                        <li class="font-lora"><img src="{% static 'theme/images/help-icon-3.png'%}" alt=""> Make a
                            Gift
                        </li>
                        <li class="font-lora"><img src="{% static 'theme/images/help-icon-4.png'%}" alt=""> Send
                            Donation
                        </li>
                        <li class="font-lora"><img src="{% static 'theme/images/help-icon-5.png'%}" alt=""> Give
                            Helping Hand
                        </li>
                    </ul>
                </li>
                <!--======= DONATION IMAGE =========-->
                <li class="col-sm-4"><img class="img-responsive" src="{% static 'theme/images/donate-img.png'%}"
                                          alt=""></li>
            </ul>
        </div>
    </section>

    <!--======= DONATION COUNTER =========-->
    <section class="don-counter">
        <div class="overlay">
            <div class="container">

                <!--======= COUNTER ROWS =========-->
                <div class="row" id="counters">
                    <div class="col-md-6">
                        <ul class="row">
                            <!--======= NO OF CASES =========-->
                            <li class="col-sm-6">
                                <div class="row">

                                    <!--======= ICON =========-->
                                    <div class="col-xs-3"><i class="fa fa-heart-o"></i></div>
                                    <div class="col-xs-9"><span class="count1"></span>
                                        <p>No of Causes solved</p>
                                    </div>
                                </div>
                            </li>

                            <!--======= VOLUNTEERS HAVE =========-->
                            <li class="col-sm-6">
                                <div class="row">

                                    <!--======= ICON =========-->
                                    <div class="col-xs-3"><i class="fa fa-users"></i></div>
                                    <div class="col-xs-9"><span class="count2"></span>
                                        <p>volunteers have</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!--======= ROWS 2 =========-->
                    <div class="col-md-6">
                        <ul class="row">
                            <!--======= ACHRIVED  =========-->
                            <li class="col-sm-6">
                                <div class="row">

                                    <!--======= ICON =========-->
                                    <div class="col-xs-3"><i class="fa fa-thumbs-o-up"></i></div>
                                    <div class="col-xs-9"><span class="count3"></span>
                                        <p>achived donators</p>
                                    </div>
                                </div>
                            </li>
                            <!--======= SAVED CHILDRESNS =========-->
                            <li class="col-sm-6">
                                <div class="row">

                                    <!--======= ICON =========-->
                                    <div class="col-xs-3"><i class="fa fa-smile-o"></i></div>
                                    <div class="col-xs-9"><span class="count4"></span>
                                        <p>Saved Childrens</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--======= LATEST DONATORES =========-->
    <section class="donatores">
        <div class="container">

            <!--======= TITTLE =========-->
            <div class="tittle">
                <h2>Latest <span>Donaters</span></h2>
                <p>Our charity helps those people who have no hope</p>
            </div>

            <!--======= DONATOR ROWS =========-->
            <div class="row">

                <!--======= DONATOR 1 =========-->
                <div class="col-md-6">
                    <ul class="row">

                        <!--======= DONATOR 1 =========-->
                        <li class="col-sm-6">
                            <div class="avatar"><img class="img-responsive"
                                                     src="{% static 'theme/images/avatar-1.jpg'%}" alt=""></div>
                            <div class="donor-details">
                                <h5>Chris Binva</h5>
                                <p class="font-lora">Nikan Manager, Sydney</p>
                                <span class="font-lora">Donated : <strong>$1052</strong></span></div>
                        </li>

                        <!--======= DONATOR 2 =========-->
                        <li class="col-sm-6">
                            <div class="avatar"><img class="img-responsive"
                                                     src="{% static 'theme/images/avatar-2.jpg'%}" alt=""></div>
                            <div class="donor-details">
                                <h5>Jenny Rose</h5>
                                <p class="font-lora">Nikan Manager, Sydney</p>
                                <span class="font-lora">Donated : <strong>$252</strong></span></div>
                        </li>
                    </ul>
                </div>

                <!--======= DONATOR ROW =========-->
                <div class="col-md-6">
                    <ul class="row">

                        <!--======= DONATOR 1 =========-->
                        <li class="col-sm-6">
                            <div class="avatar"><img class="img-responsive"
                                                     src="{% static 'theme/images/avatar-3.jpg'%}" alt=""></div>
                            <div class="donor-details">
                                <h5>Benny Doe</h5>
                                <p class="font-lora">Nikan Manager, Sydney</p>
                                <span class="font-lora">Donated : <strong>$1052</strong></span></div>
                        </li>

                        <!--======= DONATOR 2 =========-->
                        <li class="col-sm-6 become-donor">
                            <div class="donor-details">
                                <h4>Become <strong>Donator</strong></h4>
                                <hr>
                                <p class="font-lora"> Quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea cmodo conse quat. </p>
                                <a href="#." class="btn">JOIN NOW!</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--======= BLOG =========-->
    <section class="blog">
        <div class="container">
            <!--======= TITTLE =========-->
            <div class="tittle">
                <h2>Fresh From The <span>Blog</span></h2>
                <p>Every charitable act is a stepping stone toward heaven</p>
            </div>

            <!--======= BLOG ROW =========-->

            <div class="row">

                <!--======= BLOG BIG VIDEO =========-->
                <div class="col-md-6">
                    <div class="video-blog"><img class="img-responsive" src="{% static 'theme/images/blog-1.jpg'%}"
                                                 alt=""> <a href="#."><i class="fa fa-caret-right"></i></a></div>
                </div>

                <!--======= BLOG RIGTH =========-->

                <div class="col-md-6">

                    <!--======= BLOG 2 =========-->

                    <ul class="row">
                        <li class="col-xs-4"><a href="#."><img class="img-responsive"
                                                               src="{% static 'theme/images/blog-2.jpg'%}"
                                                               alt=""></a></li>
                        <li class="col-xs-8"><a class="font-lora title" href="#.">The New Charity psd
                            TemplateDesign</a> <span
                                class="font-lora">MAy 14, 2015  |  By Admin  |  4 comments</span>
                            <p>Perspiciatis unde omnis iste natus error sit ametsan voluptatem accusantium[...] </p>
                            <a href="#." class="btn">Read More <i class="fa fa-arrow-circle-o-right"></i></a></li>
                    </ul>
                    <!--======= BLOG 3 =========-->

                    <ul class="row">
                        <li class="col-xs-4"><a href="#."><img class="img-responsive"
                                                               src="{% static 'theme/images/blog-3.jpg'%}"
                                                               alt=""></a></li>
                        <li class="col-xs-8"><a class="font-lora title" href="#.">The New Charity psd
                            TemplateDesign</a> <span
                                class="font-lora">MAy 14, 2015  |  By Admin  |  4 comments</span>
                            <p>Perspiciatis unde omnis iste natus error sit ametsan voluptatem accusantium[...] </p>
                            <a href="#." class="btn">Read More <i class="fa fa-arrow-circle-o-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--======= TESTIMONIALS =========-->
    <section class="testi">
        <div class="container">

            <!--======= ROW =========-->
            <div class="row">
                <div class="col-md-6">
                    <h3><strong>WHAT</strong> Our Donaters Say</h3>

                    <!--======= SLIDES =========-->
                    <section>

                        <!--======= SLIDER =========-->
                        <div class="testi-slides">

                            <!--======= SLIDER 1 =========-->
                            <div class="item-slide">
                                <p>Cum sociis natoque penatibus et magnis dis parturient salos montes ascetur
                                    ridiculus. mus. Morbi nunc odio gravida at cursus. Nultl dui. Fusce feugiat male
                                    suada odio. Morbi nunc odio gravida at cursus.</p>
                                <h6><strong class="font-lora">William Smith </strong>(new world marketing director)
                                </h6>
                            </div>

                            <!--======= SLIDER 1 =========-->
                            <div class="item-slide">
                                <p>Cum sociis natoque penatibus et magnis dis parturient salos montes ascetur
                                    ridiculus. mus. Nultl dui. Fusce feugiat male suada odio. Morbi nunc odio
                                    gravida at cursus. Morbi nunc odio gravida at cursus.</p>
                                <h6><strong class="font-lora">William Smith </strong>(new world marketing director)
                                </h6>
                            </div>

                            <!--======= SLIDER 1 =========-->
                            <div class="item-slide">
                                <p>Cum sociis natoque penatibus et magnis dis Morbi nunc odio gravida at cursus.
                                    parturient salos montes ascetur ridiculus. mus. Nultl dui. Fusce feugiat male
                                    suada odio. Morbi nunc odio gravida at cursus.</p>
                                <h6><strong class="font-lora">William Smith </strong>(new world marketing director)
                                </h6>
                            </div>
                        </div>
                    </section>
                </div>

                <!--======= RIGHT IMAGES =========-->
                <div class="col-md-6 with-bg-drk"><img class="img-responsive"
                                                       src="{% static 'theme/images/feed-img.png'%}" alt=""></div>
            </div>
        </div>
    </section>

    <!--======= PROUND =========-->
    <section class="proud">
        <h1>27,514</h1>
        <h2>We are Really Proud of Our Kind <i class="fa fa-heart"></i> <strong>Voluntaries</strong>.</h2>
    </section>
</div>

<!--======= FOOTER =========-->
<footer>
    <div class="container">

        <!--======= FOOTER ROW =========-->
        <div class="row">
            <div class="col-md-6">

                <!--======= FOOTER 1 =========-->
                <ul class="row">

                    <!--======= KEEP IN TOUCH =========-->
                    <li class="col-lg-12 shadow">
                        <ul class="social_icons">
                            <li class="facebook"><a href="#."><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="#."><i class="fa fa-twitter"></i></a></li>
                            <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i></a></li>
                            <li class="instagram"><a href="#."><i class="fa fa-instagram"></i></a></li>
                            <li class="soundcloud"><a href="#."><i class="fa fa-rss"></i></a></li>
                        </ul>

                        <!--======= ADDRESS =========-->
                        <h6>Development Partners</h6>
                        <div class="autoplay">
                            <div><img src="{% static 'images/cara-logo.jpg' %}"></div>
                            <div><img src="{% static 'images/img1.jpg' %}"></div>
                            <div><img src="{% static 'images/img3.jpg' %}"></div>
                            <div><img src="{% static 'images/img5.jpg' %}"></div>
                            <div><img src="{% static 'images/img6.jpg' %}"></div>
                            <div><img src="{% static 'images/img7.jpg' %}"></div>
                            <div><img src="{% static 'images/india-gov.jpg' %}"></div>
                            <div><img src="{% static 'images/nipccd.jpg' %}"></div>
                        </div>
                        <script>
                            $('.autoplay').slick({
                                slidesToShow: 3,
                                slidesToScroll: 1,
                                autoplay: true,
                                autoplaySpeed: 500,
                            });
                        </script>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="row">
                    <!--======= USEFULL LINKS =========-->
                    <li class="col-sm-6 padding-l-60">
                        <h6>useful links</h6>
                        <ul class="links">
                            <li><a href="#.">Website and Policies</a></li>
                            <li><a href="#.">Help</a></li>
                            <li><a href="#.">Contact Us!</a></li>
                            <li><a href="#.">Feedback</a></li>
                            <li><a href="#.">Terms & Conditions</a></li>
                            <li><a href="#.">FAQ</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!--======= FOOTER ROW 2 =========-->
            <div class="col-md-6">
                <ul class="row">


                </ul>
            </div>
            <!--======= FOOTER ROW 2 =========-->
        </div>
    </div>

    <!--======= RIGHTS =========-->
    <div class="rights">
        <p class="text-uppercase">Copyright © 2018 Women and Child Development. All Rights Reserved.</p>
    </div>
</footer>

<!--======= MAKE DONATION POPUP START =========-->
<div id="make-donation" class="donation-pop zoom-anim-dialog mfp-hide">
    <h6>Make a Donation</h6>
    <!--======= DONATE LIGHT BOX =========-->
    <div class="pop-inner">
        <form>
            <label> Project You Want To donate
                <input type="text" name="project-name">
            </label>
            <label>Your Donation</label>
            <ul class="dona-amount">
                <li><a href="#.">$10</a></li>
                <li class="active"><a href="#.">$25</a></li>
                <li><a href="#.">$50</a></li>
                <li><a href="#.">$75</a></li>
                <li><a href="#.">$100</a></li>
                <li><a href="#.">Others</a></li>
            </ul>

            <!--======= INFORMATION =========-->
            <ul class="row per-info">
                <li class="col-lg-12">
                    <label>Your Information</label>
                </li>
                <li class="col-sm-6">
                    <input type="text" name="first name" placeholder="First Name">
                </li>
                <li class="col-sm-6">
                    <input type="text" name="last name" placeholder="Last Name">
                </li>
                <li class="col-sm-6">
                    <input type="email" name="Email" placeholder="Email">
                </li>
                <li class="col-sm-6">
                    <input type="text" name="phone" placeholder="Phone">
                </li>
            </ul>

            <!--======= CRADIT CARD INFO =========-->
            <ul class="row per-info">
                <li class="col-lg-12">
                    <label>Credit cArd Information</label>
                </li>
                <li class="col-sm-6">
                    <input type="text" name="first name" placeholder="Card Holder Name">
                    <label>As Appers on card</label>
                </li>
                <li class="col-sm-6">
                    <input type="text" name="last name" placeholder="Credit card number">
                    <label>VISA MC AMEX DS</label>
                </li>
                <li class="col-sm-6">
                    <input type="email" name="Email" placeholder="Card cvv">
                    <label>what is this?</label>
                </li>
                <li class="col-sm-3">
                    <input type="text" name="phone" placeholder="Valid From">
                    <label>MM/YYYY</label>
                </li>
                <li class="col-sm-3">
                    <input type="text" name="card" placeholder="Valid thru">
                </li>
                <li class="col-sm-12">
                    <button type="submit" class="btn">Send donation</button>
                </li>
            </ul>
        </form>
    </div>
</div>
{% endblock %}